:root {
  --primary-color: #0db75f;
  --primary-color-dark: #0c9a51;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}

.header__title h1 {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 1rem;
  border-radius: 20px;
  width: 4rem;
  text-align: center;
  padding: 0.4rem;
}

nav ul li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a,
p {
  text-decoration: none;
  color: var(--text-light);
  transition: 0.4s ease-in-out;
}

nav ul li a:hover {
  color: var(--primary-color);
}
/* 
nav ul li p{
  color: var(--text-light);
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 8rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container__title p {
  color: var(--text-light);
}
.container__title span {
  color: var(--primary-color);
}
.container__title p {
  width: 28rem;
}

.form__input #nomeProfessor {
  padding: 1rem 3rem;
  border: 1px solid var(--extra-light);
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  margin: 0.2rem 0;
  width: 20rem;
}
.form__input button {
  padding: 0.5rem 2rem;
  border: none;
  transition: 0.8s ease-in-out;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
}

.form__input .btn:hover {
  /* background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color); */
  background-color: var(--primary-color-dark);
}

.chooseFile {
  padding: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.form__feedback textarea {
  padding: 1rem 2rem;
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  resize: none;
}
